#logo{

    display: flex;
    justify-content: center;
    opacity: .7;

}

h1{
    color: rgba(120, 120, 130, 100);
    font-size: 4em;
}

h1:hover, #logo:hover{

    transition: all 1s;
    color: rgba(200, 200, 230, 150);
    /*transform: scale(1.02);*/
}

a{
    text-decoration: none;
}

.video{

  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;

}